@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {

  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);


  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-dark-pale-blue: hsl(225, 100%, 97%);


  --fs-primary: 1rem;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  --ff-primary: "Red Hat Display", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: var(--ff-primary); */
}



@media (min-width:375px) {
  main {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--ff-primary);
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center; 
  
}

.main__container {
  max-width: 450px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--clr-very-pale-blue);

  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  
}


img {
}

.main__container h1 {
  margin-top: 1.5rem;
}

.lead {
  max-width: 70%;
  margin: 0.75rem auto 0 auto;
  color: var(--clr-desaturated-blue);
  text-align: center;
}


.main__payment_info {
  display: flex;
  width: 70%;
  margin: 1rem auto 0 auto;
  height: 4rem;
  background-color: var(--clr-dark-pale-blue);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.main__payment_info img {
  width: 2.8rem;
}


.main__payment_info-text_info{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-right: 4rem;
  margin-bottom: .5rem;


}

.main__payment_info-title {
  color: var(--clr-dark-blue);
}


.main__payment_info-price {
  color: var(--clr-desaturated-blue);
}

.main__container-btn-pay {
  background-color: var(--clr-bright-blue);
  color: var(--clr-very-pale-blue);
  width: 70%;
  margin: 1rem auto 0 auto;
  padding: .60rem;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.main__container-btn-cancel {
  background-color: var(--clr-very-pale-blue);
  color: var(--clr-desaturated-blue);
  width: 70%;
  padding: .6rem;

  margin: 1rem auto 1rem auto;
  border: none;

  cursor: pointer;

}


.main__container-btn-cancel:hover {
  color: var(--clr-dark-blue);
}


a {
  color: var(--clr-bright-blue);
  text-decoration: underline;
  font-weight: var(--fw-700);
}